.navbar{
    background: rgb(67,168,155);
    background: linear-gradient(90deg, rgba(67,168,155,1) 0%, rgba(62,209,189,1) 44%, rgba(0,158,190,1) 86%);
}
.mobile{
    color: #ffffff;
    background-color: #57C5B6;
}
