.slide-img {
    height: 90vh;
    border: 1px solid #002B5B;
    
}

.p {
    display: inline-block;
    justify-content: center;
    margin-left: 20px;
    height: 90vh;
}

.product-image {
    height: 0vh;
}

.img-card {
    height: 20vh;
}

.card-body {
    height: 40vh;
}

.rate {
    color: #57C5B6;
}

.product-name {
    color: #002B5B;
}

.body {
    background-color: #fffffe;
}

p {
    color: #1A5F7A;
}

.arrival {
    color: #ffffff;
    background-color: #57C5B6;
    text-align: center;
    justify-content: center;
}

.navbar {
    background: rgb(67, 168, 155);
    background: linear-gradient(90deg, rgba(67, 168, 155, 1) 0%, rgba(62, 209, 189, 1) 44%, rgba(0, 158, 190, 1) 86%);
    font-weight: bold;
    font-size: large;
}
.btn1 {
    background-color: #002B5B;
    position: relative;
    top: 2vh;
    
}

h1 {
    color: #002B5B;
}

.card-text {
    color: #002B5B;
    height: 25vh;
    /* text-align: center; */
}

.card2 {
    height: 30vh;
}

.cardimg {
    height: 35vh;
}

.catcard {
    border: 1px solid #002B5B;
}

#catagory {
    width: 100%;
    justify-content: center;
    position: relative;
    left: 2vh;
    
}

.catagory1 {
    color: #ffffff;
    background-color: #57C5B6;
}

.tour-text {
    color: #002B5B;
    
}

.tbl {
    background-color: #002B5B;
}

.crd-bdy {
    height: 20vh;
}

#details {
    justify-content: center;
}

/* .body {
    background: rgb(67, 168, 155);
    background: linear-gradient(90deg, #1c6a8a 0%, rgb(210, 255, 249) 44%, rgb(57, 164, 185) 86%);
} */


.my-border {
    border: px solid #57C5B6;
}
.home-footer{
    background: rgb(51, 134, 123);
    background: linear-gradient(90deg, rgb(31, 80, 73) 0%, rgb(126, 238, 223) 44%, rgb(17, 86, 100) 86%);
height: 40vh;
}
.body{
    background-image: url(img/sun-tornado.png);
}
.logo{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    border: #002B5B 2px solid;
}


